.movie {
	height: 100%;
	width: 100%;

	left: 0px;
	top: 0px;

	position: absolute;
}


.background {
	background-color: #000;
	height: 100%;
	width: 100%;
	opacity: 0.3;

	z-index: 1;
	position: fixed;

	transition: opacity 0.5s;
}
.background:hover {
	cursor: pointer;
	opacity: 0.5;
}


.player {
	position: fixed;
	left: 15%;
	top: 5%;
	z-index: 10;
}
